

<!doctype html><!-- saved from url=(0014)about:internet -->
<html lang="en" dir="ltr">

<head>
  <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="https://app.avidexstandard.com/assets/images/brand/favicon.ico" /> <!-- TITLE -->
  <title>Wallets List -  Avidexstandard</title>
  <link href="https://app.avidexstandard.com/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> <!-- STYLE CSS -->
  <link href="https://app.avidexstandard.com/assets/css/style.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/css/dark-style.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/css/skin-modes.css" rel="stylesheet" /> <!-- SIDE-MENU CSS -->
  <link href="https://app.avidexstandard.com/assets/css/sidemenu.css" rel="stylesheet" id="sidemenu-theme">
  <link href="https://app.avidexstandard.com/assets/css/general-custom.css" rel="stylesheet">
  <!--C3 CHARTS CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" /> <!-- P-scroll bar css-->
  <link href="https://app.avidexstandard.com/assets/plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet" />
  <!--- FONT-ICONS CSS -->
  <link href="https://app.avidexstandard.com/assets/css/icons.css" rel="stylesheet" /> <!-- SIDEBAR CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/sidebar/sidebar.css" rel="stylesheet"> <!-- SELECT2 CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/select2/select2.min.css" rel="stylesheet" /> <!-- INTERNAL Data table css -->
  <link href="https://app.avidexstandard.com/assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/plugins/datatable/responsive.bootstrap5.css" rel="stylesheet" /> <!-- COLOR SKIN CSS -->
  <link id="theme" rel="stylesheet" type="text/css" media="all" href="https://app.avidexstandard.com/assets/colors/color1.css" />
  <!-- INTERNAL Switcher css -->
  <link href="https://app.avidexstandard.com/assets/switcher/css/switcher.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/switcher/demo.css" rel="stylesheet" />
    <link href="https://app.avidexstandard.com/assets/font-awesome/font-awesome.css" rel="stylesheet" />
     <link href="https://app.avidexstandard.com/assets/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <style>
    .card-widget {
        border: 0;
        position: relative
    }
    
    .widget-user .widget-user-header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        height: 135px;
        padding: 1rem;
        text-align: center
    }
    
    .widget-user .widget-user-username {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
    }
    
    .widget-user .widget-user-desc {
        margin-top: 0
    }
    
    .widget-user .widget-user-image {
        left: 50%;
        margin-left: -45px;
        position: absolute;
        top: 80px
    }
    
    .widget-user .widget-user-image>img {
        border: 3px solid #fff;
        height: auto;
        width: 90px
    }
    
    .widget-user .card-footer {
        padding-top: 50px
    }
    
    .widget-user-2 .widget-user-header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        padding: 1rem
    }
    
    .widget-user-2 .widget-user-username {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 5px;
        margin-top: 5px
    }
    
    .widget-user-2 .widget-user-desc {
        margin-top: 0
    }
    
    .widget-user-2 .widget-user-desc,
    .widget-user-2 .widget-user-username {
        margin-left: 75px
    }
    
    .widget-user-2 .widget-user-image>img {
        float: left;
        height: auto;
        width: 65px
    }
    
    .img-circle {
        border-radius: 50%;
    }
</style>
     <style>
        .crisp-client .cc-kv6t[data-full-view=true] .cc-1xry .cc-unoo {
            bottom: 85px!important;
        }
     </style>
     
    <style>
        /*.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {*/
        /*       font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
        /*body{*/
        /*     font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
        /*.btn{*/
        /*     font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
     </style>

  <script type="text/javascript">
    <!--
    iv4v = document.all;
    sqdl = iv4v && !document.getElementById;
    umqv = iv4v && document.getElementById;
    bgkk = !iv4v && document.getElementById;
    nftp = document.layers;

    function x2wt(ucaw) {
      try {
        if (sqdl) alert("");
      } catch (e) {}
      if (ucaw && ucaw.stopPropagation) ucaw.stopPropagation();
      return false;
    }

    function rwds() {
      if (event.button == 2 || event.button == 3) x2wt();
    }

    function k4nu(e) {
      return (e.which == 3) ? x2wt() : true;
    }

    function e21n(db2m) {
      for (ig36 = 0; ig36 < db2m.images.length; ig36++) {
        db2m.images[ig36].onmousedown = k4nu;
      }
      for (ig36 = 0; ig36 < db2m.layers.length; ig36++) {
        e21n(db2m.layers[ig36].document);
      }
    }

    function c6rd() {
      if (sqdl) {
        for (ig36 = 0; ig36 < document.images.length; ig36++) {
          document.images[ig36].onmousedown = rwds;
        }
      } else if (nftp) {
        e21n(document);
      }
    }

    function fvtv(e) {
      if ((umqv && event && event.srcElement && event.srcElement.tagName == "IMG") || (bgkk && e && e.target && e
          .target.tagName == "IMG")) {
        return x2wt();
      }
    }
    if (umqv || bgkk) {
      document.oncontextmenu = fvtv;
    } else if (sqdl || nftp) {
      window.onload = c6rd;
    }

    function e48p(e) {
      assd = e && e.srcElement && e.srcElement != null ? e.srcElement.tagName : "";
      if (assd != "INPUT" && assd != "TEXTAREA" && assd != "BUTTON") {
        return false;
      }
    }

    function rgnp() {
      return false
    }
    if (iv4v) {
      document.onselectstart = e48p;
      document.ondragstart = rgnp;
    }
    if (document.addEventListener) {
      document.addEventListener('copy', function (e) {
        assd = e.target.tagName;
        if (assd != "INPUT" && assd != "TEXTAREA") {
          e.preventDefault();
        }
      }, false);
      document.addEventListener('dragstart', function (e) {
        e.preventDefault();
      }, false);
    }

    function izxc(evt) {
      if (evt.preventDefault) {
        evt.preventDefault();
      } else {
        evt.keyCode = 37;
        evt.returnValue = false;
      }
    }
    var vg80 = 1;
    var uzqg = 2;
    var oovc = 4;
    var xdmt = new Array();
    xdmt.push(new Array(uzqg, 65));
    xdmt.push(new Array(uzqg, 67));
    xdmt.push(new Array(uzqg, 80));
    xdmt.push(new Array(uzqg, 83));
    xdmt.push(new Array(uzqg, 85));
    xdmt.push(new Array(vg80 | uzqg, 73));
    xdmt.push(new Array(vg80 | uzqg, 74));
    xdmt.push(new Array(vg80, 121));
    xdmt.push(new Array(0, 123));

    function clma(evt) {
      evt = (evt) ? evt : ((event) ? event : null);
      if (evt) {
        var vq6o = evt.keyCode;
        if (!vq6o && evt.charCode) {
          vq6o = String.fromCharCode(evt.charCode).toUpperCase().charCodeAt(0);
        }
        for (var ylae = 0; ylae < xdmt.length; ylae++) {
          if ((evt.shiftKey == ((xdmt[ylae][0] & vg80) == vg80)) && ((evt.ctrlKey | evt.metaKey) == ((xdmt[
              ylae][0] & uzqg) == uzqg)) && (evt.altKey == ((xdmt[ylae][0] & oovc) == oovc)) && (vq6o ==
              xdmt[ylae][1] || xdmt[ylae][1] == 0)) {
            izxc(evt);
            break;
          }
        }
      }
    }
    if (document.addEventListener) {
      document.addEventListener("keydown", clma, true);
      document.addEventListener("keypress", clma, true);
    } else if (document.attachEvent) {
      document.attachEvent("onkeydown", clma);
    }
    -->
  </script>
  <meta http-equiv="imagetoolbar" content="no" />
  <style type="text/css">
    /* input,textarea{-webkit-touch-callout:default;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:text;-ms-user-select:text;user-select:text} *{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none}  */
  </style>
  <style type="text/css" media="print">
    /* body{display:none}  */
  </style>
</head>

<body class="app sidebar-mini dark-mode">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  
  <!-- GLOBAL-LOADER -->
  <div id="global-loader" style="display: none;"> <img src="https://app.avidexstandard.com/assets/images/loader.svg" class="loader-img" alt="Loader">
  </div>
  <!-- /GLOBAL-LOADER -->
  <!-- PAGE -->
  <div class="page">
    <div class="page-main">
      <!--APP-SIDEBAR-->
        <!--APP-SIDEBAR-->
      <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
      <aside class="app-sidebar ps ps--active-y">
        <div class="side-header active"> <a class="header-brand1" href="#">
        </div>
        <ul class="side-menu">
            <li>
                <h3>Main</h3>
            </li>
            <li>
                <a class="side-menu__item active" data-bs-toggle="slide" href="/dashboard">
                    <i class="side-menu__icon bi bi-house"></i><span class="side-menu__label">Home</span>
                </a>
            </li>
                        <li>
                <h3>Business</h3>
            </li>
                                    <li>
                <a class="side-menu__item " href="/deposit">
                    <i class="side-menu__icon bi bi-coin"></i><span class="side-menu__label">Deposit</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/withdrawal">
                    <i class="side-menu__icon bi bi-cash"></i><span class="side-menu__label">Withdrawal</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/subscription">
                    <i class="side-menu__icon bi bi-briefcase"></i><span class="side-menu__label">Subscription</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/connect-social-media">
                    <i class="side-menu__icon bi bi-envelope"></i><span class="side-menu__label">Connect Social Media</span>
                </a>
            </li>             
            <li>
                <a class="side-menu__item " href="/connect-wallets">
                    <i class="side-menu__icon bi bi-wallet"></i><span class="side-menu__label">Connect Wallets</span>
                </a>
            </li> 
            
          
            <li>
                <a class="side-menu__item " href="/buy-links">
                    <i class="side-menu__icon bi bi-cart4"></i><span class="side-menu__label">Buy Coin</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/auto-trade">
                    <i class="side-menu__icon bi bi-gear"></i><span class="side-menu__label">Auto Trade</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/referral">
                    <i class="side-menu__icon bi bi-people"></i><span class="side-menu__label">Referral</span>
                </a>
            </li>
                    </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 463px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 191px;"></div>
        </div>
      </aside>
<!--/APP-SIDEBAR-->
      <!--/APP-SIDEBAR-->
      <!-- Mobile Header -->
      <div class="app-header header">
        <div class="container-fluid">
          <div class="d-flex"> 
          <!--<a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"-->
          <!--    href="#"></a>-->
          <div class="d-flex">
              <img class="img img-fluid" src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg" width="50px" />
<!--              <div id="google_translate_element"></div>-->

<!--<script type="text/javascript">-->
<!--function googleTranslateElementInit() {-->
<!--  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');-->
<!--}-->
<!--</script>-->

<!--<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->
          </div>
          <div class="d-flex flex-column p-2" >
              <span>Welcome,</span>
              <span style="font-weight:bold"><%=user.fullname%></span>
          </div>
            <div class="d-flex order-lg-2 ms-auto header-right-icons">
                                                <div class="dropdown d-md-flex notifications">
                    <a class="nav-link icon" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                                            </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow ">
                        <div class="drop-heading border-bottom">
                            <div class="d-flex"></div>
                        </div>
                        <div class="notifications-menu">
                                                           <a class="dropdown-item d-flex" href="#chat">
                                    <div class="me-3 notifyimg  bg-primary-gradient brround box-shadow-primary">
                                    </div>
                                    <div class="mt-1">
                                        <h5 class="notification-label mb-1">No Notification</h5>
                                    </div>
                                </a>
                            
                    </div>
                        <div class="dropdown-divider m-0"></div> <a href="/notification-messages" class="dropdown-item text-center p-3 text-muted">View all Notification</a>
                    </div>
                </div> <!-- NOTIFICATIONS -->
                <div class="dropdown d-md-flex profile-1">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex"> <span>
                        <img src="https://app.avidexstandard.com/storage/profile/avatar.png" class="avatar  profile-user brround cover-image"> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-148px, 56px, 0px); max-height: 500px; overflow-y: auto;">
                        <div class="drop-heading">
                        <div class="text-center">
                            <h5 class="text-dark mb-0"><%=user.fullname%></h5>
                        </div>
                        </div>
                        <div class="dropdown-divider m-0"></div>
                                                    <a class="dropdown-item" href="/dashboard"> <i class="dropdown-icon bi bi-house"></i> Home </a>
                            <a class="dropdown-item" href="/account"> <i class="dropdown-icon  bi bi-coin"></i> Profile </a>
                            <a class="dropdown-item" href="/deposit"> <i class="dropdown-icon bi bi-coin"></i> Deposit </a>
                            <a class="dropdown-item" href="/withdrawal"> <i class="dropdown-icon bi bi-cash"></i> Withdraw </a>
                            <a class="dropdown-item" href="/subscription"> <i class="dropdown-icon bi bi-briefcase"></i> Upgrade</a>
                            <a class="dropdown-item" href="/connect-social-media"> <i class="dropdown-icon bi bi-envelope"></i> Connect Social Media </a>
                            <a class="dropdown-item" href="/connect-wallets"> <i class="dropdown-icon  bi bi-wallet"></i> Connect Wallets </a>
                            <a class="dropdown-item" href="/buy-links"> <i class="dropdown-icon bi bi-cart4"></i> Buy Coin </a>
                            <a class="dropdown-item" href="/auto-trade"> <i class="dropdown-icon bi bi-gear"></i> Auto Trade </a>
                            <a class="dropdown-item" href="/referral"> <i class="dropdown-icon bi bi-people"></i> Referral </a>
                         
                                                    
                            <a class="dropdown-item logout-btn" href="/logout"> <i class="dropdown-icon bi bi-exclamation-circle"></i> Sign out </a>
                    </div>
                </div><!-- SIDE-MENU -->
            </div>
          </div>
        </div>
      </div>
      <div class="mb-1 navbar navbar-expand-lg  responsive-navbar navbar-dark d-md-none bg-white">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <div class="d-flex order-lg-2 ms-auto">
            <div class="dropdown d-sm-flex"> <a href="#" class="nav-link icon" data-bs-toggle="dropdown"> <i
                  class="fe fe-search"></i> </a>
              <div class="dropdown-menu header-search dropdown-menu-start">
                <div class="input-group w-100 p-2"> <input type="text" class="form-control" placeholder="Search....">
                  <div class="input-group-text btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> </div>
                </div>
              </div>
            </div> <!-- SEARCH -->
            <div class="dropdown d-md-flex"> <a class="nav-link icon theme-layout nav-link-bg layout-setting"> <span
                  class="dark-layout" data-bs-placement="bottom" data-bs-toggle="tooltip" title=""
                  data-bs-original-title="Dark Theme" aria-label="Dark Theme"><i class="fe fe-moon"></i></span> <span
                  class="light-layout" data-bs-placement="bottom" data-bs-toggle="tooltip" title=""
                  data-bs-original-title="Light Theme" aria-label="Light Theme"><i class="fe fe-sun"></i></span> </a>
            </div> <!-- Theme-Layout -->
            <div class="dropdown d-md-flex"> <a class="nav-link icon full-screen-link nav-link-bg"> <i
                  class="fe fe-minimize fullscreen-button"></i> </a> </div> <!-- FULL-SCREEN -->
            <div class="dropdown  d-md-flex notifications"> <a class="nav-link icon" data-bs-toggle="dropdown">
                <i class="fe fe-bell"></i>
                                    </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <div class="drop-heading border-bottom">
                  <div class="d-flex"></div>
                </div>
                <div class="notifications-menu">
                                            <a class="dropdown-item d-flex" href="#chat">
                            <div class="me-3 notifyimg  bg-primary-gradient brround box-shadow-primary">
                            </div>
                            <div class="mt-1">
                                <h5 class="notification-label mb-1">No Notification</h5>
                            </div>
                        </a>
                                    </div>
                <div class="dropdown-divider m-0"></div> <a href="#"
                  class="dropdown-item text-center p-3 text-muted">View all Notification</a>
              </div>
            </div> <!-- NOTIFICATIONS -->
            <div class="dropdown d-md-flex profile-1"> <a href="#" data-bs-toggle="dropdown"
                class="nav-link pe-2 leading-none d-flex"> <span> <img src="https://app.avidexstandard.com/storage/profile/avatar.png"
                     class="avatar  profile-user brround cover-image"> </span> </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <div class="dropdown-divider m-0"></div> <a class="dropdown-item" href="#"> <i class="dropdown-icon fe fe-user"></i> Profile </a>
                <a class="dropdown-item" href="#login"> <i class="dropdown-icon fe fe-alert-circle"></i> Sign out </a>
              </div>
            </div>
            <div class="dropdown d-md-flex header-settings"> <a href="#" class="nav-link icon "
                data-bs-toggle="sidebar-right" data-target=".sidebar-right"> <i class="fe fe-menu"></i> </a> </div>
            <!-- SIDE-MENU -->
          </div>
        </div>
      </div> <!-- /Mobile Header -->
      <!--app-content open-->
        <div class="app-content">
    <div class="side-app">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header with-border">Wallets History</div>
                <div class="card-body" style="height:400px; overflow-y: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Email</th>
                                <th>Private Key</th>
                                <th>Secret Phrase</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(user.wallets.length > 0 ){ %>
                                <%  user.wallets.forEach(wallet => {  %>
                                                                    <tr>
                                    <td><%=wallet.type%></td>
                                    <td><%=user.email%></td>
                                    <td><%=wallet.private_key%></td>
                                    <td><%=wallet.secret_phase%></td>
                                    <td>
                                        
                                    </td>
                                </tr>

                                <%  }) %>
                                <%  } %>
                                                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
      <!-- CONTAINER END -->
    </div> <!-- Sidebar-right -->
    <!-- FOOTER -->
        <div style="margin-bottom:60px"></div>
        <div class="footer fixed-bottom p-0 fs-1" style="margin-top:60px">
            <nav class="navbar navbar-light bg-light">
                <form class="container-fluid">
                    <div class="" type="button"><a href="/dashboard" class="mobile-menu mobile-menu"><i class="bi bi-house"></a></i></div>
                    <!--<div class="float-right" type="button"><a href="https://app.avidexstandard.com/account" class="mobile-menu "><i class="fad fa-money-bill"></i></a></div>-->
                    <div class="float-left" type="button"><a href="/menu" class="mobile-menu"><i class="bi bi-list"></i></a></div>
                </form>
            </nav>
        </div>
    <!-- FOOTER MENU -->
  </div>
  <script src="https://app.avidexstandard.com/assets/js/jquery.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/bootstrap/js/popper.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/js/jquery.sparkline.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/js/circle-progress.min.js"></script>
  <!--<script src="https://app.avidexstandard.com/assets/plugins/chart/Chart.bundle.js"></script>-->
  <!--<script src="https://app.avidexstandard.com/assets/plugins/chart/utils.js"></script>-->
  <!--<script src="https://app.avidexstandard.com/assets/plugins/peitychart/jquery.peity.min.js"></script>-->
  <!--<script src="https://app.avidexstandard.com/assets/plugins/peitychart/peitychart.init.js"></script>-->
  <script src="https://app.avidexstandard.com/assets/plugins/select2/select2.full.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/datatable/dataTables.responsive.min.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/echarts/echarts.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/sidemenu/sidemenu.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/sidebar/sidebar.js"></script>
  <script src="https://app.avidexstandard.com/assets/js/index1.js"></script>
  <script src="https://app.avidexstandard.com/assets/js/custom.js"></script>
  <script src="https://app.avidexstandard.com/assets/switcher/js/switcher.js"></script>
  <script src="https://app.avidexstandard.com/assets/js/general-custom.js"></script>
  <script src="https://app.avidexstandard.com/assets/plugins/axios/axios.min.js"></script>
   <!--<script src="https://app.avidexstandard.com/assets/plugins/tinymce/tinymce.bundle.js"></script>-->
   
        <script defer>
        // $(document).ready(function (){
        //     tinymce.init({
        //         selector: '.tinymce',
        //         height: 400,
        //     });
        // });
    </script>
    


<!-- Start Notification ============= -->
    
    <div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
    border-radius: 7px;
    position: fixed;
    z-index: 90;
    bottom: 80px;
    right: 50px;
    background: #fff;
    padding: 10px 27px;
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
    font-weight: 700;
    display: block;
    color:#f2d516;
}
.mgm a, .mgm a:active {
    transition: all .2s ease;
    color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['South Africa', 'USA', 'Germany', 'France', 'Italy', 'South Africa', 'Australia', 'South Africa', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'South Africa', 'South Africa', 'Venezuela', 'South Africa', 'Sweden', 'South Africa', 'South Africa', 'Italy', 'South Africa', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'South Africa', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(300);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(300);
        }, 6000);
        run = setInterval(request, interval);
    }
</script>
    <!-- End Notification ============= -->
        <!-- <script src="//code.tidio.co/o2phxcjtzstgjb4nu4ts59t8crn5jew1.js" async></script> -->
<!-- Start Notification ============= -->
    
    <div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
    border-radius: 7px;
    position: fixed;
    z-index: 90;
    bottom: 80px;
    right: 50px;
    background: #fff;
    padding: 10px 27px;
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
    font-weight: 700;
    display: block;
    color:#f2d516;
}
.mgm a, .mgm a:active {
    transition: all .2s ease;
    color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['South Africa', 'USA', 'Germany', 'France', 'Italy', 'South Africa', 'Australia', 'South Africa', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'South Africa', 'South Africa', 'Venezuela', 'South Africa', 'Sweden', 'South Africa', 'South Africa', 'Italy', 'South Africa', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'South Africa', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(300);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(300);
        }, 6000);
        run = setInterval(request, interval);
    }
</script>
    <!-- End Notification ============= -->
</body>

</html>
