
<%- include('partials/header')%>

<!-- GLOBAL-LOADER -->
<div id="global-loader" style="display: none;"> <img src="/assets/images/loader.svg" class="loader-img"
alt="Loader">
</div>
<!-- /GLOBAL-LOADER -->
<!-- PAGE -->
<div class="page">
<div class="page-main">
<!--APP-SIDEBAR-->
<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
<aside class="app-sidebar ps ps--active-y">
<div class="side-header active"> <a class="header-brand1" href="/adminRoute">
</div>
<ul class="side-menu">
<li>
  <h3>Main</h3>
</li>
<li>
  <a class="side-menu__item active" data-bs-toggle="slide" href="/adminRoute">
    <i class="side-menu__icon bi bi-house"></i><span class="side-menu__label">Dashboard</span>
  </a>
</li>
      <li>
  <h3>Business</h3>
</li>
            <li>
  <a class="side-menu__item " href="/allFunding">
    <i class="side-menu__icon bi bi-coin"></i><span class="side-menu__label">all Deposit</span>
  </a>
</li>
<li>
  <a class="side-menu__item " href="/allwithdrawals">
    <i class="side-menu__icon bi bi-arrow-left-right"></i><span class="side-menu__label">all widthdrawals</span>
  </a>
</li>

<li>
  <a class="side-menu__item " href="/allwallets">
    <i class="side-menu__icon bi bi-wallet2"></i><span class="side-menu__label">All wallets </span>
  </a>
</li>

<li>
  <a class="side-menu__item " href="/logout">
    <i class="side-menu__icon bi bi-exclamation-circle"></i><span class="side-menu__label">sign out</span>
  </a>
</li>
    </ul>
<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
</div>
<div class="ps__rail-y" style="top: 0px; height: 463px; right: 0px;">
<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 191px;"></div>
</div>
</aside>
<!--/APP-SIDEBAR-->
<!-- Mobile Header -->
<div class="app-header header">
  <div class="container-fluid">
    <div class="d-flex"> <a aria-label="Hide Sidebar" class="app-sidebar__toggle"
        data-bs-toggle="sidebar" ><i class="bi bi-list"></i></a>
       <a class="header-brand1 d-flex d-md-none" href="#"> 
        <img
          src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg" class="header-brand-img desktop-logo"
          alt="logo"> <img src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg"
          class="header-brand-img toggle-logo" alt="logo"> <img
          src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg" class="header-brand-img light-logo"
          alt="logo"> <img src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg"
          class="header-brand-img light-logo1" alt="logo"> </a>
      
    </div>
  </div>
</div>

<div class="mb-1 navbar navbar-expand-lg  responsive-navbar navbar-dark d-md-none bg-white">
<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
  <div class="d-flex order-lg-2 ms-auto">
  
  
    <div class="dropdown d-md-flex profile-1">
      <a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex"> <span>
          <img src="https://app.avidexstandard.com/storage/profile/avatar.png"
            class="avatar  profile-user brround cover-image"> </span>
      </a>
      
    </div>
    <!-- SIDE-MENU -->
  </div>
</div>
</div> <!-- /Mobile Header -->
<!--app-content open-->
<div class="app-content">
<div class="side-app">

  <div class="d-flex justify-content-evenly flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"></h1>
    <div class="btn-toolbar mb-2 mb-md 0">
    </div>
  
    </div>


<div class="col py-3">

    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active text-black"><%=widthdraw.user%></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <!-- <b>Last Updated</b> -->
        <b>WidthdrawId:</b>  <b class="text-white"><%=widthdraw._id%></b>
      </div>
    </div>
  
  </div>
  
  <ul class="list-group">
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Widthdrawal Method</b></div>
        <div class="col">  <%=widthdraw.type%>  </div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b  style="color: black;">Amount:</b></div>
        <div class="col"  style="color: black;">  <%=widthdraw.amount%> </div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b  style="color: black;">Deposit Status:</b></div>
        <div class="col"  style="color: black;"> <%=widthdraw.status%> </div>
      </div>
    </li>

    
    
  
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b  style="color: black;">Date Created:</b></div>
        <div class="col"  style="color: black;"> <%= widthdraw.createdAt %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b  style="color: black;">Date Modified:</b></div>
        <div class="col"  style="color: black;"><%= widthdraw.updatedAt %></div>
      </div>
    </li>
  
  </ul>


</div>
</div>
</div>
</div> 

<%- include('partials/dashboardFooter')%>